/*

  Сдвиг до 2х Персонажей - W1800; (без сжатия) 1400 c сжатием
  Сдвиг до 1 персонажа - W1280(без сжатия)
  Сдвиг до 1 персонажа - W1050(С сжатием)

  ================LoginInfo==============
  Сжимать логин при W1180
  TODO:Скрывать логин при низком разрешении
 */

$MIDDLE_MAX_WIDTH: 1840px;
$LOW_MAX_WIDTH: 1380px;

$MIDDLE_MAX_HEIGHT: 820px;
$LOW_MAX_HEIGHT: 740px;
$ULTRA_LOW_MAX_HEIGHT: 680px;


.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('../../assets/img/LoginPanel/background.png') 0 0/cover no-repeat;
}


.hidden {
  position: absolute;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;

  &.left {
    transform: translateX(800px);
  }
  &.right
  {
    transform: translateX(-800px);
  }
}

.current {
  transition: all 0.2s ease-in-out;
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

.arrowButton {
  align-self: center;

  button {
    /*text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 2px 2px 2px rgba(206, 89, 55, 0);*/
    color:  #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.0);
  }

}

.loginPanel{
  position: absolute;
  top: 40px;
  @media (max-height: $MIDDLE_MAX_HEIGHT) {
    top: 20px
  }
}

.header {
  position: relative;
  .headerTitle {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 107px;
    text-transform: uppercase;
    font-family: "GothamProMedium", serif;
    letter-spacing: 8.93px;
    font-weight: 900;
    margin-bottom: 30px;
    @media (max-height: $MIDDLE_MAX_HEIGHT) {
      font-size: 80px;
      margin-bottom: 20px;
    }
    @media (max-height: $LOW_MAX_HEIGHT) {
      font-size: 70px;
      margin-bottom: 15px;
    }
    @media (max-height: $ULTRA_LOW_MAX_HEIGHT) {
      display: none;
    }

    span {
      font-family: "Detroit", serif;
      letter-spacing: -1.75px;
      font-size: inherit;
    }
  }
  .headerSubtitle {
    color: #ffffff;
    font-family: "GothamPro", serif;
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media (max-height: $MIDDLE_MAX_HEIGHT) {
      font-size: 35px;
      margin-bottom: 40px;
    }
    @media (max-height: $LOW_MAX_HEIGHT) {
      font-size: 30px;
    }
    @media (max-height: $ULTRA_LOW_MAX_HEIGHT) {
      display: none;
    }
  }
}

.characterContainer{
  margin-right: -60px;
  @media (max-width: $MIDDLE_MAX_WIDTH) {
    margin-right: -40px;
  }
  @media (max-width: $LOW_MAX_WIDTH) {
    margin-right: -20px;
  }
  &>div{
    margin-right: 60px;
    @media (max-width: $MIDDLE_MAX_WIDTH) {
      margin-right: 40px;
    }
    @media (max-width: $LOW_MAX_WIDTH) {
      margin-right: 20px;
    }
  }
}



