@import "Authorization.module";

.panel{
  position: relative;
  height: 237px;
  width: 503px;
  background: url('../../assets/img/LoginPanel/input-bg.svg') center/contain no-repeat;
  margin-bottom: 60px;
  @media screen and (max-height: $HD_MAX_HEIGHT) {
    margin-bottom: 30px;
  }
  input{
    width: 350px;
  }
}

.panelContent{
  height: 100%;
  padding: 27px 40px;
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  input{
    font-size: 18px;
  }
}

.errorMessage{
  color: #ff1f1f;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -20px;
  font-size: 20px;
  text-transform: none;
  font-family: "GothamProRegular", serif;
}
@media screen and (max-height: $HD_MAX_HEIGHT) {
  .errorMessage{
    margin-top: -10px;
  }
}
.logotype{
  position: absolute;
  left: 85%;
  top: 42px;
  &.animated{
    img{
      animation: rotateLogo 2s linear infinite reverse;
      &:nth-child(2)
      {
        animation: rotateLogo 1s linear infinite normal;
      }
      &:nth-child(3)
      {
        animation: rotateLogo 3s linear infinite normal;
      }
    }
  }
  img{
    position: absolute;

  }
}
/* ==================== Анимация логотипа ==================== */


@keyframes rotateLogo{
  0%{
    transform: rotate(0.0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}