$w1550: 1840px;
.characterSlot {
  background: url("../../assets/img/LoginPanel/character-selector/bg.svg") center/contain no-repeat;
  width: 462px;
  height: 651px;
  color: #ffffff;
  @media (max-width: $w1550) {
    max-width: 370px;
    max-height: 500px;
    font-size: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 30px 30px 40px;
    font-size: 14px;
    @media (max-width: $w1550) {
      padding: 10px 20px 30px 35px;
      font-size: 12px;
    }
  }
}

.unavailableSlot {
  background: url("../../assets/img/LoginPanel/character-selector/bg_red.svg") center/contain no-repeat;
}

.characterName {
  font-family: "GothamPro", serif;
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding: 25px 50px 25px 0;
  text-align: center;
  margin: 0 0 20px 0;

  @media (max-width: $w1550) {
    font-size: 22px;
    padding: 15px 30px 15px 0;
    margin: 0 0 10px 0;
  }

  &:before {
    position: absolute;
    content: "";
    margin-left: -55px;
    margin-top: -20px;
    width: 50px;
    height: 65px;
    background: url("../../assets/img/LoginPanel/character-selector/logo.png") no-repeat;
    background-size: cover;
    @media (max-width: $w1550) {
      width: 37px;
      height: 47px;
      margin-top: -10px;
      margin-left: -35px;
    }
  }
}

.mainInfo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0 0 12px -5px;
  @media (max-width: $w1550) {
    margin: 0 0 8px -5px;
  }
  /*margin-bottom: 12px;*/
  .photo {
    flex: 0 0 43%;
    height: 100%;
    @media (max-width: $w1550) {
      max-height: 150px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      border: solid 1px #00c8ff;
      box-shadow: 0 0 4px #00c8ff;
    }
  }

  .info {
    flex: 0 1 65%;
    max-width: 85%;
    padding-left: 5px;

    .item {
      width: 100%;
      margin-bottom: 15px;
      @media (max-width: $w1550) {
        margin-bottom: 8px;
      }
    }
  }
}

.about {
  display: flex;
  justify-content: space-around;
  flex: 1 1 0; /* Увеличение размера для закрепа кнопок внизу */
  @media (max-width: $w1550) {
  }

  .leftColumn {
    flex: 0 0 50%;
    padding-right: 10px;
  }

  .rightColumn {
    flex: 0 0 50%;
  }

  .item {
    max-width: 135px;
    margin: 0 auto 15px auto;
    @media (max-width: $w1550) {
      margin-bottom: 8px;
      max-width: 113px;
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background: transparent;
  }

  .delete {
    display: inline-block;
    flex: 0 0 50%;
    align-self: center;
    text-align: center;
    padding-left: 25%;

    button{
      transition: transform ease-in-out .2s;
      &:hover {
        transform: translateY(-3px);
      }
      &:active{
        transform: translateY(1px);
      }
    }
    img {
      height: 50%;
      width: 50%;
    }
  }

  .play {
    flex: 0 0 50%;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
  }
}


.createButton {
  display: inline-block;
  background: white;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  width: 155px;
  /*======*/
  color: #00a2ff;
  font-family: "GothamProRegular", serif;
  font-size: 33px;
  text-shadow: 0 0 10px rgba(0, 200, 255, 0.8);
  &:active{
    transform: translateY(1px);
  }
  @media (max-width: $w1550) {
    font-size: 25px;
    width: 120px;
  }
}


.slotFree, .slotClose {
  font-family: "GothamPro", serif;
  text-align: center;
  flex: 1 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title, .closeTitle {
    font-size: 40px;
    margin: 0 0 40px 55px;

    &:before {
      position: absolute;
      content: "";
      margin-left: -55px;
      margin-top: -15px;
      width: 62px;
      height: 72px;
      background: url("../../assets/img/LoginPanel/character-selector/logo.png") center/contain no-repeat;
    }
  }

  .info {
    font-size: 20px;
    color: gray;
  }

  .closeTitle {
    &:before {
      background: url("../../assets/img/LoginPanel/character-selector/logo_red.png") center/contain no-repeat;
    }
  }
}

.create {
  align-self: flex-end;
  margin-right: 15px;

  button {
    background: transparent;
  }
}

.item {
  font-size: 12px;
  @media (max-width: $w1550) {
    font-size: 11px;
  }
  span {
    font-size: 16px;
    @media (max-width: $w1550) {
      font-size: 13px;
    }
  }
}