@import "../assets/variables";

$MIDDLE_MAX_HEIGHT: 820px;

.accountInfo {
  display: inline-block;
  background: black url("../assets/img/LoginPanel/login-bg.svg") center/cover no-repeat;
  border-radius: 0 10px 10px 0;
  padding: 10px 20px;
  min-width: 250px;
  max-width: 320px;
  @media (max-height: $MIDDLE_MAX_HEIGHT) {
    padding: 10px;
  }

  //margin: 20px;
  .row {
    display: flex;
    margin: 0 -5px;

    .accountPicture {
      max-height: 80px;
      max-width: 80px;
      padding: 0 5px;
      flex: 0 0 auto;
      object-fit: fill;

      img {
        width: 100%;
        height: 100%;
        text-align: center;
        border: solid 1px #00c8ff;
        box-shadow: 0 0 4px #00c8ff;
      }
    }

    .login {
      color: #00c8ff;
      font-family: "Gotham Pro", serif;
      font-size: 19px;
      font-weight: 500;
      margin-bottom: 5px;
      text-shadow: 0 0 5px #00c8ff, 0 0 10px #00c8ff, 2px 2px 2px rgba(206, 89, 55, 0);
      overflow: hidden;
    }

    .donate {
      display: inline-block;
      color: #ffffff;
      font-family: "Gotham Pro", serif;
      font-size: 15px;
      font-weight: 300;


      &:after {
        content: url("../assets/img/LoginPanel/character-selector/donate.png");
        max-width: 28px;
        max-height: 28px;
        position: relative;
        top: 7px;
      }
    }
    @media(max-width: $HIGH_WIDTH) {
      .login {
        font-size: 16px;
      }
      .donate {
        font-size: 13px;
      }
    }
    @media(max-width: $MEDIUM_WIDTH) {
      .login{
        font-size: 15px;
      }
      .donate{
        font-size: 12px;
      }
    }
    @media(max-width: $HD_WIDTH) {
      .login{
        font-size: 14px;
      }
    }
  }
}