/*****VARIABLES****/
$HIGH_WIDTH:      1601px;   /*  0.83  */
$MEDIUM_WIDTH:    1441px;   /*  0.75  */
$HD_WIDTH:        1281px;   /*  0.66  */
$LOW_WIDTH:       1024px;   /*  0.53  */
$ULTRA_LOW_WIDTH: 880px;    /*  0.41  */

/*****************/