/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: "GothamProRegular";
	src: url("../fonts/GothamPro-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothamProMedium";
	src: url("../fonts/GothamPro-Medium.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamPro-Light.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Detroit";
	src: url("../fonts/Detroit.otf");
	font-style: normal;
	font-weight: normal;
}

body{
	background: url('../img/background.png') 0 0/cover no-repeat;
	background-attachment: fixed;
}

.wrapper{
	width: 100%;
	height: 100%;
	
}
.login-panel{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
	padding: 70px;
	
}
@media screen and (max-height: 1075px) {
	.login-panel{
		padding: 30px;
		margin:0 0 30px 0;
	}
}

.header{
	margin:0 0 70px 0;
	flex:0 0 100%;
}
@media screen and (max-height: 1075px) {
	.header{
		margin:0 0 30px 0;
	}
}

h1.header__text {
	color: #ffffff;
	font-size: 160px;
	text-transform: uppercase;
	font-family: "GothamProMedium";
	letter-spacing: 8.93px;
	font-weight: 900;
	text-align: center;
}
h1.header__text span{
	font-family: "Detroit";
	letter-spacing: -1.75px;
	font-size: 160px;
	
}
@media screen and (max-height: 1075px) {
	h1.header__text{
		font-size: 104px;
	}
	h1.header__text span{
		font-size: 104px;
	}
}
h2.header__text{
	color: #ffffff;
	font-family: "GothamPro";
	font-size: 75px;
	letter-spacing: 10px;
	text-align: center;
	text-transform: uppercase;
	padding: 30px 0 50px 0;
}
@media screen and (max-height: 1075px) {
	h2.header__text{
		font-size: 48px;
		padding: 15px 0 25px 0;
	}
}

h3.header__text{
	color: #ffffff;
	font-family: "GothamPro";
	font-size: 35px;
	text-align: center;
	letter-spacing: 2.17px;
}
@media screen and (max-height: 1075px) {
	h3.header__text{
		font-size: 24px;
	}
}

/* ================= HEADER и VievBox ============ */
@media screen and (max-height: 805px) {
	.login-panel{
		padding: 15px;
		margin:0 0 15px 0;
	}
	.header{
		margin:0 0 10px 0;
	}
	h1.header__text{
		font-size: 65px;
	}
	h1.header__text span{
		font-size: 65px;
	}
	h2.header__text{
		font-size: 26px;
	}
	h3.header__text{
		display: none;
	}
}

.panel{
	height: 237px;
	width: 503px;
	background: url('../img/input-bg.svg') 0 0/cover no-repeat;
	margin-bottom: 60px;
}
@media screen and (max-height: 1075px) {
	.panel{
		margin-bottom: 30px;
	}
}


.panel_content{
	padding: 20px;
	position: relative;
}

.panel__password{
	position: relative;
	top: 50px;
}



.login-panel__message{
	color: #ff1f1f;
	text-align: center;
	margin-bottom: 10px;
	margin-top: -20px;
	font-size: 20px;
	text-transform: none;
	/*display: none;*/
}
@media screen and (max-height: 1075px) {
	.login-panel__message{
		margin-top: -10px;
	}
}
/********************************************/
.ui-input__field{
	background: transparent;
	border: none;
	border-bottom: 1px solid #5f6368;
	color: #fff;
	/*font-family: 'Caveat', sans-serif;*/
	font-family: "GothamProRegular";
	font-size: inherit;
	letter-spacing: 1px;
	margin-bottom: 15px;
	padding: 10px 0;
	outline: none;
}
.ui-input__text{
	color: #00c8ff;
	font-family: "GothamProRegular";
	font-size: inherit;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-shadow: 0 0 40px #00c8ff, 0 0 55px #00c8ff, 0 0 75px #00c8ff, 2px 2px 2px rgba(206,89,55,0);
	text-transform: uppercase;
}

.ui-input__field:focus{
	border-bottom: 1px solid #ffffff;
	transition: .55s all;
}
/********************************************/
.panel input{
	
	width: 354px;
}


.links{
	color: #00a2ff;
	font-family: "GothamPro";
	font-size: 25px;
}

.button{
	text-align: center;
}
.auth-button{
	display: inline-block;
	background:white;
	padding: 15px 40px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(255,255,255,1);
	/*======*/
	color: #00a2ff;
	font-family: "GothamPro";
	font-size: 33px;
	text-shadow: 0px 0px 10px rgba(0, 200, 255, 0.8);
}
.login__btn{
	margin: 0 auto 60px auto;
}
@media screen and (max-height: 1075px) {
	.login__btn{
		margin-bottom: 30px;
	}
}

.links__btn{
	margin: 20px;
	padding: 20px;
	display: inline;
}

@media screen and (max-height: 805px) {
	.links{
		font-size: 18px;
	}
	.login__btn{
		font-size: 24px;
		padding: 8px 20px;
	}
}




.panel__logo{
	position: absolute;
	left: 85%;
	top: 42px;
}
/* ==================== Анимация логотипа ==================== */
.panel__logo img{

	position: absolute;
	animation: rotateLogo 2s linear infinite reverse;
}

.panel__logo img:nth-child(2){
	animation: rotateLogo 1s linear infinite normal;
}
.panel__logo img:nth-child(1){
	animation: rotateLogo 3s linear infinite normal;
}

@keyframes rotateLogo{
	0%{
		transform: rotate(0.0turn);
	}
	100%{
		transform: rotate(1turn);
	}
}

/* ==================== Регистрация ======================== */
.register-form{
	width: 780px;
	margin: 0 0 40px 0;
	font-size: 18px;
	
}
@media screen and (max-height: 805px) {
	.register-form{
		width: 680px;
		margin: 0 0 20px 0;
		font-size: 14px;
	}	
}

.register-form__header{
	width: 100%;
	height: 85px;
	background: rgba(0, 0, 0, 0.349) url('../img/register/reg-bg.svg') 0 0/cover no-repeat;
	border-radius: 18px 18px 0px 0px;
	border-bottom: #029cdb;
	border-style: solid;
	border-width: 0 0 1px 0;
	
}

.register-form__header-text{
	line-height: 85px;
	color: #ffffff;
	font-family: "GothamProRegular";
	font-size: 32px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 2px 2px 2px rgba(206,89,55,0);
}

.register-form__header-text img{
	position: relative;
	left: 15px;
	max-height: 85px;
}

.register-form__message-zone{
	padding: 15px 0;
	background: rgba(0, 0, 0, 0.349);
	color: #ff1f1f;
	font-family: "GothamProRegular";
	font-size: 20px;
	text-align: center;
	/*display: none;*/
}

@media screen and (max-height: 805px) {
	.register-form__header{
		height: 50px;
	}
	.register-form__header-text{
		line-height: 50px;
		font-size: 26px;
	}
	.register-form__header-text img{
		max-height: 50px;
	}
	.register-form__message-zone{
		padding: 10px 0;
		font-size: 16px;
	}
}

.register-form__panel{
	display: flex;
	width: 100%;
		
}
.register-form-block{
	flex: 1 0 50%;
	background: rgba(0, 0, 0, 0.349);
	border-radius: 0 0 18px 18px;
	margin-right: 1px;
		
}
.register-form-block:last-child{
	margin-right: 0;
}
.register-form-block__content{
	width: 100%;
	padding: 10px 30px;
}

.register-form-block__content input {
	width: 100%;
}

.ui-input_hidden{
	opacity: 0;
	max-height: 0px;
	transition: opacity 0.8s ease;
}

.ui-input_show{
	opacity: 1;
	max-height: auto;
	transition: opacity 0.8s ease;
}