.text {
  color: #00c8ff;
  font-family: "GothamProRegular", serif;
  font-size: inherit;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-shadow: 0 0 5px #00c8ff, 0 0 10px #00c8ff, 2px 2px 2px rgba(206, 89, 55, 0);
  text-transform: uppercase;
}

.value {
  background: transparent;
  border-bottom: 1px solid white;
  color: #fff;
  font-family: "GothamProRegular", serif;
  font-size: inherit;
  letter-spacing: 1px;
  padding: 10px 0;
  outline: none;
  width: 100%;
}
